<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-title>Badges</ion-title>
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="full">
    <ion-item color="primary">
      <ion-label>Desarrollo Movil Multiplataforma</ion-label>
      <ion-badge color="primary">6.0</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Aplicaciones Web Para La Industria 4.0</ion-label>
      <ion-badge color="secondary">7.0</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Stars</ion-label>
      <ion-badge color="tertiary">34k</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Completed</ion-label>
      <ion-badge color="success">80</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Warnings</ion-label>
      <ion-badge color="warning">70</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Notifications</ion-label>
      <ion-badge color="danger">1000</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
