<div class="container">
  <ion-card>
    <img alt="Card 1" src="https://imgs.search.brave.com/pU-MwxZ0mX7ZC-XWE7z7EP2hcOZXJ1jx8-Wa10zDnq8/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXM3Lm1lbWVkcm9p/ZC5jb20vaW1hZ2Vz/L1VQTE9BREVEMzIy/LzY3NzQyY2E3ZDU4/MmEuanBlZw" />
    <ion-card-header>
      <ion-card-title>Gatos graciosos</ion-card-title>
      <ion-card-subtitle>xdxdxxddx</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      I love cats
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Card 2" src="https://imgs.search.brave.com/v5631Z9OfYpfngw5gEwuMoGigUF9h0NU0tuqnYEknhQ/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9lbGZp/bmFuY2llcm8uY29t/Lm14L3Jlc2l6ZXIv/djIvTkJRUFRaRDRH/NUVSTEdPWUNWWEM3/RVNZSVUuanBnP3Nt/YXJ0PXRydWUmYXV0/aD1kNzdiNmVhN2E5/NTAxOTlkNTgxOTVj/ZDFjOWEzMGQwYTc4/ZDBlNDNhYzY3ZjJi/NDNlODY0YjJmOGE3/OWNkMGI5JndpZHRo/PTEwODAmaGVpZ2h0/PTExMDI" />
    <ion-card-header>
      <ion-card-title>Laloooo</ion-card-title>
      <ion-card-subtitle>owo</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      YO
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Card 3" src="https://imgs.search.brave.com/63JVeq85EIvOC0OhAD9WvjYfE1xUeR9hWcQqnYoqt5Q/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9wMTYt/c2lnbi12YS50aWt0/b2tjZG4uY29tL3Rv/cy1tYWxpdmEtcC0w/MDY4L28wUkNIaUdC/b015QUJOWGlmSHlJ/Z0FBekU4MHJ3dUk5/aXlVOVRrfnRwbHYt/cGhvdG9tb2RlLXpv/b21jb3Zlcjo3MjA6/NzIwLmpwZWc_bGsz/cz1iNTlkNmI1NSZ4/LWV4cGlyZXM9MTcz/ODc2NzYwMCZ4LXNp/Z25hdHVyZT1pS2tw/Zi81NSs1RjRNL0Zn/amdVUUVVQlhQd009/JnNocD1iNTlkNmI1/NSZzaGNwPS0" />
    <ion-card-header>
      <ion-card-title>Milaneso</ion-card-title>
      <ion-card-subtitle>Watafak</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      AAAAAAAAAAAAAAAAAAAAAAAA
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Card 4" src="https://imgs.search.brave.com/qnwAqLmaOq8-tAksIAzm9cgqh64pSK8yzUiXg5mb3c0/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tYXJr/ZXRwbGFjZS5jYW52/YS5jb20vRUFFbmxr/Q2NsWXMvMS8wLzE2/MDB3L2NhbnZhLW5h/cmFuamEteS1hbWFy/aWxsby1nYXRvLWVu/b2phZG8tY29uLW1l/bWUtZGUtdGV4dG8t/UXRSdVZmTkV3RUku/anBn" />
    <ion-card-header>
      <ion-card-title>Sofiii</ion-card-title>
      <ion-card-subtitle>zzzZZZ</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Amo dormir todo el día
    </ion-card-content>
  </ion-card>
</div>
