<ion-list>
  <ion-item>
    <ion-label>
      <h2>Personas Sugeridas</h2>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img alt="Avatar 1" src="https://imgs.search.brave.com/hS2xmdLR0gaMiumwPffwHWEPjsFpkHr12y7M1PQYArE/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzL2JkLzBh/LzM2L2JkMGEzNmRh/ZTk4NjJiNmQzYTA5/MmM5NGUxYzkyMjZl/LmpwZw" />
    </ion-avatar>
    <ion-label>Juan Pérez</ion-label>
    <ion-button fill="clear" slot="end">
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img alt="Avatar 2" src="https://imgs.search.brave.com/-YnqECniQS122N2-ufNWv4oWYi8_MyvX2wuQCXAcBDg/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzAzLzFm/L2UyLzAzMWZlMjM4/NDFhZTYyNzk1Zjlk/MjM1NWQ0YzEwZGI1/LmpwZw" />
    </ion-avatar>
    <ion-label>María López</ion-label>
    <ion-button fill="clear" slot="end">
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img alt="Avatar 3" src="https://imgs.search.brave.com/bRaSloBM-Ay3Ycp3XZRB3agvZLNHZSOUS6GG4ZCeM5g/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzMyL2Rm/LzA5LzMyZGYwOTUx/NWY2NjBmYjNkZTU5/NjRjNGZlNmRhZTE0/LmpwZw" />
    </ion-avatar>
    <ion-label>Carlos Ramírez</ion-label>
    <ion-button fill="clear" slot="end">
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img alt="Avatar 4" src="https://imgs.search.brave.com/Sh8W0q82OUYFBi0mSXDvBXKBhAgXCc9kdAEapHri0ig/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzY0LzZk/L2EzLzY0NmRhMzk5/NmNjYjdkMWZiN2Iw/MDY4OTI0OWFhMTE0/LmpwZw" />
    </ion-avatar>
    <ion-label>Ana Torres</ion-label>
    <ion-button fill="clear" slot="end">
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img alt="Avatar 5" src="https://imgs.search.brave.com/QFfxrU25Zjgx7sF4KYO9hNcG9G0grGywz3TiSPjeMgs/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/aW5mb2JhZS5jb20v/cmVzaXplci92Mi9P/WlRHVlg1NjJGR0lC/SUxKNE83RDVQTUZG/NC5qcGc_YXV0aD1i/NDQzMTBmNGVjOTAw/NjdjMmQ3NDI0MDk3/NWU4YzI0YWMxMWU2/NDUzYWYyYTE2NmU3/YzY4NjBmNDk2YWVl/ZjhlJnNtYXJ0PXRy/dWUmd2lkdGg9MzUw/JmhlaWdodD0xOTcm/cXVhbGl0eT04NQ" />
    </ion-avatar>
    <ion-label>Roberto Díaz</ion-label>
    <ion-button fill="clear" slot="end">
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img alt="Avatar 6" src="https://imgs.search.brave.com/btNrrrro1X6S9pmme1uRER4VH2CBXCFatFxx9_YP3GM/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzE3L2E1/L2MzLzE3YTVjMzMx/YTA5YTBlMTU3NzU3/YmNiNDQ4ZDNhMjAx/LmpwZw" />
    </ion-avatar>
    <ion-label>Lucía Fernández</ion-label>
    <ion-button fill="clear" slot="end">
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img alt="Avatar 7" src="https://imgs.search.brave.com/Oyj9AWYzAPcGBS_dNG1G5q-4l4JurJo7NJ3gF4IY-ic/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzcxLzY0/LzhiLzcxNjQ4YjRm/YTQzYTUwNGIwMGM2/N2Q0ZjhhNzUxNjNk/LmpwZw" />
    </ion-avatar>
    <ion-label>Fernando Gómez</ion-label>
    <ion-button fill="clear" slot="end">
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-item>
    <ion-label>
      <p>Información | Ayuda | Prensa</p>
      <p>Privacidad | Condiciones | Ubicaciones</p>
      <p>Idioma</p>
      <p>Milaneso Verified</p>
      <p>© 2025 Photograp from UTCV</p>
    </ion-label>
  </ion-item>
</ion-list>
