<ion-list>
  <ion-item lines="none">
    <ion-button fill="clear" expand="full">
      <ion-icon name="home-outline" slot="start"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-button>
  </ion-item>

  <ion-item lines="none">
    <ion-button fill="clear" expand="full">
      <ion-icon name="chatbubble-outline" slot="start"></ion-icon>
      <ion-label>Mensajes</ion-label>
    </ion-button>
  </ion-item>

  <ion-item lines="none">
    <ion-button fill="clear" expand="full">
      <ion-icon name="search-outline" slot="start"></ion-icon>
      <ion-label>Explorar</ion-label>
    </ion-button>
  </ion-item>

  <ion-item lines="none">
    <ion-button fill="clear" expand="full">
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-button>
  </ion-item>
</ion-list>
