<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="secondary">
      <ion-button color="secondary">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
      <ion-button color="tertiary">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="danger">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>  
    <ion-title>ChatApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list>
      <app-item-chat
      *ngFor="let chat of chat"
      [username]="chat.username"
      [message]="chat.message"
      [date]="chat.date"
      [avatarUrl]="chat.avatarUrl"
      ></app-item-chat>
      </ion-list>
</ion-content>